# EXPORTING DATA FROM MIXPANEL

## Segmentation. Event = App_launched

In [333]:
# code
data = api.request(['segmentation'], {
    'event': 'app_launched',
    'from_date': '2015-09-17',
    'to_date': '2015-09-20'
})

In [248]:
# output data
data

{u'data': {u'series': [u'2015-09-17',
   u'2015-09-18',
   u'2015-09-19',
   u'2015-09-20'],
  u'values': {u'app_launched': {u'2015-09-17': 47,
    u'2015-09-18': 49,
    u'2015-09-19': 57,
    u'2015-09-20': 52}}},
 u'legend_size': 1}

In [249]:
# create table using pandas
import pandas as pd
pd.DataFrame.from_dict(data['data']['values'])

            app_launched
2015-09-17            47
2015-09-18            49
2015-09-19            57
2015-09-20            52

## Segmentation. Event = 'app_launched' with property = App Version

In [252]:
# code
data = api.request(['segmentation'], {
    'event': 'app_launched',
    'from_date': '2015-10-25',
    'to_date': '2015-10-28',
    'on': 'properties["$app_version"]'
})

# output data
data

{u'data': {u'series': [u'2015-10-25',
   u'2015-10-26',
   u'2015-10-27',
   u'2015-10-28'],
  u'values': {u'1.5.13': {u'2015-10-25': 17,
    u'2015-10-26': 10,
    u'2015-10-27': 15,
    u'2015-10-28': 17},
   u'1.5.9': {u'2015-10-25': 2,
    u'2015-10-26': 2,
    u'2015-10-27': 5,
    u'2015-10-28': 0},
   u'33085': {u'2015-10-25': 0,
    u'2015-10-26': 0,
    u'2015-10-27': 1,
    u'2015-10-28': 0},
   u'34084': {u'2015-10-25': 19,
    u'2015-10-26': 6,
    u'2015-10-27': 12,
    u'2015-10-28': 13},
   u'37744': {u'2015-10-25': 12,
    u'2015-10-26': 5,
    u'2015-10-27': 4,
    u'2015-10-28': 4}}},
 u'legend_size': 5}

In [255]:
# table
pd.DataFrame.from_dict(data['data']['values'])

            1.5.13  1.5.9  33085  34084  37744
2015-10-25      17      2      0     19     12
2015-10-26      10      2      0      6      5
2015-10-27      15      5      1     12      4
2015-10-28      17      0      0     13      4

## Retention in absolute values. Event = booking created

In [269]:
# code
data = api.request(['retention'], {
    'from_date': '2015-11-01',
    'to_date': '2015-11-05',
    'retention_type': 'compounded',
    'event': 'booking created',
    'unit': 'day',
    'interval_count': 7
})

# output data
data

{u'2015-11-01': {u'counts': [95, 36, 40, 32, 35, 30, 33, 38], u'first': 348},
 u'2015-11-02': {u'counts': [77, 64, 52, 45, 37, 38, 38, 50], u'first': 260},
 u'2015-11-03': {u'counts': [89, 49, 43, 30, 30, 31, 44, 47], u'first': 239},
 u'2015-11-04': {u'counts': [81, 54, 45, 40, 43, 55, 55, 49], u'first': 276},
 u'2015-11-05': {u'counts': [71, 38, 34, 39, 50, 51, 51, 38], u'first': 244}}

In [270]:
# convert dictionary into tuple
reform = {(outerKey, innerKey): values for outerKey, innerDict in data.iteritems() for innerKey, values in innerDict.iteritems()}    
print reform

# table
df = pd.DataFrame(reform)
df.stack(0).unstack(0).stack(0)

{(u'2015-11-01', u'counts'): [95, 36, 40, 32, 35, 30, 33, 38], (u'2015-11-04', u'counts'): [81, 54, 45, 40, 43, 55, 55, 49], (u'2015-11-03', u'first'): 239, (u'2015-11-02', u'counts'): [77, 64, 52, 45, 37, 38, 38, 50], (u'2015-11-05', u'counts'): [71, 38, 34, 39, 50, 51, 51, 38], (u'2015-11-03', u'counts'): [89, 49, 43, 30, 30, 31, 44, 47], (u'2015-11-04', u'first'): 276, (u'2015-11-01', u'first'): 348, (u'2015-11-05', u'first'): 244, (u'2015-11-02', u'first'): 260}

                     0    1    2    3    4    5    6    7
2015-11-01 counts   95   36   40   32   35   30   33   38
           first   348  348  348  348  348  348  348  348
2015-11-02 counts   77   64   52   45   37   38   38   50
           first   260  260  260  260  260  260  260  260
2015-11-03 counts   89   49   43   30   30   31   44   47
           first   239  239  239  239  239  239  239  239
2015-11-04 counts   81   54   45   40   43   55   55   49
           first   276  276  276  276  276  276  276  276
2015-11-05 counts   71   38   34   39   50   51   51   38
           first   244  244  244  244  244  244  244  244

## Retention in absolute values. Event = booking created. Mode = private, service = lite

In [273]:
# code
data = api.request(['retention'], {
    'from_date': '2015-10-31',
    'to_date': '2015-11-03',
    'retention_type': 'compounded',
    'event': 'booking created',
    'unit': 'day',
    'interval_count': 3,
    'where': 'properties["mode"] == "private" and properties["service"] == "lite"'
})

# output data
data

{u'2015-10-31': {u'counts': [8, 5, 1, 1], u'first': 49},
 u'2015-11-01': {u'counts': [5, 0, 1, 0], u'first': 22},
 u'2015-11-02': {u'counts': [1, 1, 3, 3], u'first': 26},
 u'2015-11-03': {u'counts': [2, 0, 0, 0], u'first': 13}}

In [287]:
# convert dictionary into tuple
reform = {(outerKey, innerKey): values for outerKey, innerDict in data.iteritems() for innerKey, values in innerDict.iteritems()}    
print reform

# table
df = pd.DataFrame(reform)
df2 = df.stack(0).unstack(0).stack(0)
df2

{(u'2015-10-31', u'counts'): [8, 5, 1, 1], (u'2015-11-01', u'counts'): [5, 0, 1, 0], (u'2015-11-03', u'first'): 13, (u'2015-10-31', u'first'): 49, (u'2015-11-02', u'counts'): [1, 1, 3, 3], (u'2015-11-03', u'counts'): [2, 0, 0, 0], (u'2015-11-01', u'first'): 22, (u'2015-11-02', u'first'): 26}

                    0   1   2   3
2015-10-31 counts   8   5   1   1
           first   49  49  49  49
2015-11-01 counts   5   0   1   0
           first   22  22  22  22
2015-11-02 counts   1   1   3   3
           first   26  26  26  26
2015-11-03 counts   2   0   0   0
           first   13  13  13  13

In [288]:
# write xlsx file
writer = pd.ExcelWriter('retention.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='Private_Lite')

In [314]:
# try another format of table
df3 = df.stack(1).unstack(1).stack(0)
df3

              counts  first
0 2015-10-31       8     49
  2015-11-01       5     22
  2015-11-02       1     26
  2015-11-03       2     13
1 2015-10-31       5     49
  2015-11-01       0     22
  2015-11-02       1     26
  2015-11-03       0     13
2 2015-10-31       1     49
  2015-11-01       1     22
  2015-11-02       3     26
  2015-11-03       0     13
3 2015-10-31       1     49
  2015-11-01       0     22
  2015-11-02       3     26
  2015-11-03       0     13

In [324]:
# add new column showing percentage
df3['percentage'] = (df3['counts'] / df3['first'])*100
df3

              counts  first  percentage
0 2015-10-31       8     49   16.326531
  2015-11-01       5     22   22.727273
  2015-11-02       1     26    3.846154
  2015-11-03       2     13   15.384615
1 2015-10-31       5     49   10.204082
  2015-11-01       0     22    0.000000
  2015-11-02       1     26    3.846154
  2015-11-03       0     13    0.000000
2 2015-10-31       1     49    2.040816
  2015-11-01       1     22    4.545455
  2015-11-02       3     26   11.538462
  2015-11-03       0     13    0.000000
3 2015-10-31       1     49    2.040816
  2015-11-01       0     22    0.000000
  2015-11-02       3     26   11.538462
  2015-11-03       0     13    0.000000

In [332]:
# plot data
import matplotlib.pyplot as plt
df3['percentage'].plot()
plt.show()

## Funnels

In [149]:
data = api.request(['funnels'], {
    'funnel_id': 1,
    'from_date': '2015-09-17',
    'to_date': '2015-09-20'
  })
data

TypeError: request() takes at least 3 arguments (1 given)